code {
    white-space: pre;
    background-color: #777;
    color: #fff;
    font-size: 0.9em;
}

#main {
    font-weight: 300;
}

h1,h2,h3,h4,h5,h6 {
    font-weight: inherit;
}

.dev-item {
    background-repeat: no-repeat;
    margin-top: 30px;
    height: 110px;
    padding-left: 150px;
    padding-top: 10px;
}

.floating-icon {
    float: right;
}
