---
extends: dev.j2
default_block: none
title: Development Guidelines
subtitle: How to contribute?
---

{% block dev_news %}
Join our mailing lists on [https://groups.io/g/scibian](https://groups.io/g/scibian)
to follow discussions about the project, read announces as they are published and
contribute!
{% endblock %}

{% block dev_infra %}
Get an overview of [Scibian build
infrastructure]({{ content_url('/docs/infra.html') }}) to understand how
packages are built and maintained before reaching the Scibian based systems.
{% endblock %}

{% block dev_src %}
Some guidelines have been defined to manage the Scibian packages sources in a
consistent manner, please find out the [source management
conventions]({{ content_url('/docs/sources.html') }}) for more details.
{% endblock %}

{% block dev_pkg %}
In order to ease Scibian packages maintainability, the project has defined some
[Packaging conventions]({{ content_url('/docs/pkgs.html') }}), please read
before hacking!
{% endblock %}

{% block dev_aspects %}
Additional components can be provided for Scibian in the form of
[aspects]({{ content_url('/docs/aspects.html') }}). Find out implementation details!
{% endblock %}
