---
extends: dev.j2
default_block: none
title: Development Guidelines
subtitle: How to contribute?
---

{% block dev_infra %}
Get an overview of [Scibian build
infrastructure]({{ content_url('/docs/infra.html') }}) to understand how
packages are built and maintained before reaching the Scibian based systems.
{% endblock %}

{% block dev_src %}
Some guidelines have been defined to manage the Scibian packages sources in a
consistent manner, please find out the [source management
conventions]({{ content_url('/docs/sources.html') }}) for more details.
{% endblock %}

{% block dev_pkg %}
In order to ease Scibian packages maintainability, the project has defined some
[Packaging conventions]({{ content_url('/docs/pkgs.html') }}), please read
before hacking!
{% endblock %}
