---
extends: base.j2
default_block: none
title: Scibian Linux
subtitle: Scibian is a Linux distribution based on Debian for scientific computing.
description: Scibian is a Linux distribution based on Debian for scientific computing.
welcome: true
---

{% block welcome %}

* streamlined towards industrial R&D and engineering
* fits in corporate IT infrastructures and processes
* supports recent hardware
* maintains each major version for 6 years with security updates
* includes additional libraries to make major scientific software run out of the box
* supplies tools for binary compatibility across different versions based on schroot

{% endblock %}

{% block welcome2 %}
You can [download](/download.html) and [install](/docs/installation.html) Scibian right away.

Scibian has a community, [contribute](/dev.html) to the project on [Github](https://github.com/scibian) !
{% endblock %}

{% block main %}
**Scibian launch event took place on the 30th of September in Paris.** Presentation slides are available [here](http://scibian.org/up/slides_20160930.zip).
{% endblock %}
